.DS_Store

venv/
.venv/
env/
*.pyc
*.ipynb

.idea/
.vscode/
__pycache__/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
catboost_info/

saved_models/
*.joblib
*.pkl
*.h5

logs/
nohup.out

.ipynb_checkpoints